openapi: 3.0.3
info:
  title: API.Rasp.Yandex.Net
  description: API Яндекс.Расписаний
  version: 3.0.0
servers:
- url: https://api.rasp.yandex.net
tags:
- name: Расписание рейсов между станциями
- name: Расписание рейсов по станции
- name: Список станций следования
- name: Список ближайших станций
- name: Ближайший город
- name: Информация о перевозчике
- name: Список всех доступных станций
- name: Копирайт Яндекс Расписаний
paths:
  /v3.0/search/:
    get:
      tags:
      - Расписание рейсов между станциями
      operationId: search
      parameters:
      - name: apikey
        in: query
        required: false
        schema:
          type: string
      - name: from
        in: query
        required: true
        schema:
          type: string
      - name: to
        in: query
        required: true
        schema:
          type: string
      - name: format
        in: query
        required: false
        schema:
          type: string
      - name: lang
        in: query
        required: false
        schema:
          type: string
      - name: date
        in: query
        required: false
        schema:
          type: string
      - name: transport_types
        in: query
        required: false
        schema:
          type: string
      - name: system
        in: query
        required: false
        schema:
          type: string
      - name: show_systems
        in: query
        required: false
        schema:
          type: string
      - name: offset
        in: query
        required: false
        schema:
          type: integer
      - name: limit
        in: query
        required: false
        schema:
          type: integer
      - name: add_days_mask
        in: query
        required: false
        schema:
          type: boolean
      - name: result_timezone
        in: query
        required: false
        schema:
          type: string
      - name: transfers
        in: query
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Search'

  /v3.0/schedule/:
    get:
      tags:
      - Расписание рейсов по станции
      operationId: schedule
      parameters:
      - name: apikey
        in: query
        required: false
        schema:
          type: string
      - name: station
        in: query
        required: true
        schema:
          type: string
      - name: lang
        in: query
        required: false
        schema:
          type: string
      - name: format
        in: query
        required: false
        schema:
          type: string
      - name: date
        in: query
        required: false
        schema:
          type: string
      - name: transport_types
        in: query
        required: false
        schema:
          type: string
      - name: direction
        in: query
        required: false
        schema:
          type: string
      - name: event
        in: query
        required: false
        schema:
          type: string
      - name: system
        in: query
        required: false
        schema:
          type: string
      - name: show_systems
        in: query
        required: false
        schema:
          type: string
      - name: result_timezone
        in: query
        required: false
        schema:
          type: string
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schedule'
                
  /v3.0/thread/:
    get:
      tags:
      - Список станций следования
      operationId: thread
      parameters:
      - name: apikey
        in: query
        required: false
        schema:
          type: string
      - name: uid
        in: query
        required: true
        schema:
          type: string
      - name: from
        in: query
        required: false
        schema:
          type: string
      - name: to
        in: query
        required: false
        schema:
          type: string
      - name: format
        in: query
        required: false
        schema:
          type: string
      - name: lang
        in: query
        required: false
        schema:
          type: string
      - name: date
        in: query
        required: false
        schema:
          type: string
      - name: show_systems
        in: query
        required: false
        schema:
          type: string
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThreadStation'
            
  /v3.0/nearest_stations/:
    get:
      tags:
      - Список ближайших станций
      operationId: getNearestStations
      parameters:
      - name: apikey
        in: query
        description: API key
        required: false
        schema:
          type: string
      - name: lat
        in: query
        description: широта
        required: true
        schema:
          type: number
      - name: lng
        in: query
        description: долгота
        required: true
        schema:
          type: number
      - name: distance
        in: query
        description: радиус охвата
        required: true
        schema:
          type: integer
      - name: format
        in: query
        description: json или xml
        required: false
        schema:
          type: string
      - name: lang
        in: query
        description: lang
        required: false
        schema:
          type: string
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Stations'
  /v3.0/nearest_settlement/:
    get:
      tags:
      - Ближайший город
      operationId: getNearestSettlement
      parameters:
      - name: apikey
        in: query
        description: API key
        required: false
        schema:
          type: string
      - name: lat
        in: query
        description: широта
        required: true
        schema:
          type: number
      - name: lng
        in: query
        description: долгота
        required: true
        schema:
          type: number
      - name: distance
        in: query
        description: радиус охвата
        required: false
        schema:
          type: integer
      - name: lang
        in: query
        description: lang
        required: false
        schema:
          type: string
      - name: format
        in: query
        description: json или xml
        required: false
        schema:
          type: string
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Settlement'
  /v3.0/carrier/:
    get:
      tags:
      - Информация о перевозчике
      operationId: getCarrier
      parameters:
      - name: apikey
        in: query
        description: API key
        required: false
        schema:
          type: string
      - name: code
        in: query
        description: Код перевозчика
        required: true
        schema:
          type: string
      - name: system
        in: query
        description: Система кодирования
        required: false
        schema:
          type: string
      - name: lang
        in: query
        description: lang
        required: false
        schema:
          type: string
      - name: format
        in: query
        description: json или xml
        required: false
        schema:
          type: string
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Carrier'

  /v3.0/stations_list/:
    get:
      tags:
      - Список всех доступных станций
      operationId: stationsList
      parameters:
      - name: apikey
        in: query
        required: false
        schema:
          type: string
      - name: lang
        in: query
        required: false
        schema:
          type: string
      - name: format
        in: query
        required: false
        schema:
          type: string
      responses:
        "200":
          description: success
          content:
            text/html:
              schema:
                $ref: '#/components/schemas/StationsList'

  /v3.0/copyright/:
    get:
      tags:
      - Копирайт Яндекс Расписаний
      operationId: getCopyright
      parameters:
      - name: apikey
        in: query
        description: API key
        required: false
        schema:
          type: string
      - name: format
        in: query
        description: json или xml
        required: false
        schema:
          type: string
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Copyright'
components:
  schemas:
    Stations:
      type: object
      properties:
        pagination:
          $ref: '#/components/schemas/Pagination'
        stations:
          type: array
          items:
            $ref: '#/components/schemas/Station'
    Pagination:
      type: object
      properties:
        total:
          type: integer
        limit:
          type: integer
        offset:
          type: integer
    Station:
      type: object
      properties:
        type:
          type: string
        title:
          type: string
        short_title:
          type: string
        popular_title:
          type: string
        code:
          type: string
        lat:
          type: number
        lng:
          type: number
        station_type:
          type: string
        station_type_name:
          type: string
        transport_type:
          type: string
        distance:
          type: number
        majority:
          type: integer
        type_choices:
          type: object
          properties:
            schedule:
              type: object
              properties:
                desktop_url:
                  type: string
                touch_url:
                  type: string

    Settlement:
      type: object
      properties:
        distance:
          type: number
        code:
          type: string
        title:
          type: string
        popular_title:
          type: string
        short_title:
          type: string
        lat:
          type: number
        lng:
          type: number
        type:
          type: string
    Carrier:
      type: object
      properties:
        carriers:
          type: array
          items:
            type: object
            properties:
              code:
                type: integer
              contacts:
                type: string
              url:
                type: string
              title:
                type: string
              phone:
                type: string
              codes:
                type: object
                properties:
                  icao:
                    type: string
                  sirena:
                    type: string
                  iata:
                    type: string
              address:
                type: string
              logo:
                type: string
              email:
                type: string
    Copyright:
      type: object
      properties:
        copyright:
          type: object
          properties:
            logo_vm:
              type: string
            url:
              type: string
            logo_vd:
              type: string
            logo_hy:
              type: string
            logo_hd:
              type: string
            logo_vy:
              type: string
            logo_hm:
              type: string
            text:
              type: string

    Search:
      type: object
      properties:
        pagination:
          $ref: '#/components/schemas/Pagination'
        interval_segments:
          type: array
          items:
            $ref: '#/components/schemas/IntervalSegments'
        segments:
          type: array
          items:
            $ref: '#/components/schemas/Segments'
        search:
          type: object
          properties:
            date:
              type: string
            to:
             $ref: '#/components/schemas/To'
            from:
              $ref: '#/components/schemas/From'
      
    To:
      type: object
      properties:
        code:
          type: string
        type:
          type: string
        title:
          type: string

    From:
      type: object
      properties:
        code:
          type: string
        type:
          type: string
        title:
          type: string
          
    FromToIntervalSegments:
      type: object
      properties:
        code:
          type: string
        title:
          type: string
        station_type:
          type: string
        station_type_name:
          type: string
        popular_title:
          type: string
        short_title:
          type: string
        transport_type:
          type: string
        type:
          type: string
    
    TicketsInfo:
      type: object
      properties:
        et_marker:
          type: boolean
        places:
          type: array
          items:
            type: object
            properties:
              currency:
                type: string
              price:
                type: object
                properties:
                  cents:
                    type: integer
                  whole:
                    type: integer
              name:
                type: string
     
    IntervalSegments:
      type: object
      properties:
        from:
          $ref: '#/components/schemas/FromToIntervalSegments'
        thread:
          $ref: '#/components/schemas/Thread'
        departure_platform:
          type: string
        stops:
          type: string
        departure_terminal:
          type: string
        to:
          $ref: '#/components/schemas/FromToIntervalSegments'
        has_transfers:
          type: boolean
        tickets_info:
          $ref: '#/components/schemas/TicketsInfo'
        duration:
          type: integer
        arrival_terminal:
          type: string
        start_date:
          type: string
        arrival_platform:
          type: string
      
    Segments:
      type: object
      properties:
        arrival:
          type: string
        from:
          $ref: '#/components/schemas/FromToIntervalSegments'
        thread:
          $ref: '#/components/schemas/Thread'
        departure_platform:
          type: string
        departure:
          type: string
        stops:
          type: string
        departure_terminal:
          type: string
        to:
          $ref: '#/components/schemas/FromToIntervalSegments'
        has_transfers:
          type: boolean
        tickets_info:
          $ref: '#/components/schemas/TicketsInfo'
        duration:
          type: integer
        arrival_terminal:
          type: string
        start_date:
          type: string
        arrival_platform:
          type: string
      
    Thread:
      type: object
      properties:
        uid:
          type: string
        title:
          type: string
        interval:
          type: object
          properties:
            density:
              type: string
            end_time:
              type: string
            begin_time:
              type: string
        number:
          type: string
        short_title:
          type: string
        thread_method_link:
          type: string
        carrier:
          properties:
              code:
                type: integer
              contacts:
                type: string
              url:
                type: string
              logo_svg:
                type: string
              title:
                type: string
              phone:
                type: string
              codes:
                type: object
                properties:
                  icao:
                    type: string
                  sirena:
                    type: string
                  iata:
                    type: string
              address:
                type: string
              logo:
                type: string
              email:
                type: string
        transport_type:
          type: string
        vehicle:
          type: string
        transport_subtype:
          properties:
            color:
              type: string
            code:
              type: string
            title:
              type: string
        express_type:
          type: string

    Schedule:
      type: object
      properties:
        date:
          type: string
        pagination:
          $ref: '#/components/schemas/Pagination'
        station:
          $ref: '#/components/schemas/StationForSchedule'
        schedule:
          type: array
          items:
            $ref: '#/components/schemas/ScheduleFull'
        schedule_direction:
          type: object
          properties:
            code:
              type: string
            title:
              type: string
        directions:
          type: object
          properties:
            code:
              type: string
            title:
              type: string

    StationForSchedule:
      type: object
      properties:
        code:
          type: string
        station_type:
          type: string
        station_type_name:
          type: string
        title:
          type: string
        popular_title:
          type: string
        short_title:
          type: string
        codes:
          type: object
          properties:
            yandex:
              type: string
            esr:
              type: string
        transport_type:
          type: string
        type:
          type: string
          
    ScheduleFull:
      type: object
      properties:
        except_days:
          type: string
        arrival:
          type: string
        thread:
          $ref: '#/components/schemas/Thread'
        is_fuzzy:
          type: boolean
        days:
          type: string
        stops:
          type: string
        departure:
          type: string
        terminal:
          type: string
        platform:
          type: string

    ThreadStation:
      type: object
      properties:
        except_days:
          type: string
        arrival_date:
          type: string
        from:
          type: string
        uid:
          type: string
        title:
          type: string
        interval:
          type: object
          properties:
            density:
              type: string
            end_time:
              type: string
            begin_time:
              type: string
        departure_date:
          type: string
        start_time:
          type: string
        number:
          type: string
        short_title:
          type: string
        days:
          type: string
        to:
          type: string
        carrier:
          properties:
              code:
                type: integer
              title:
                type: string
              codes:
                type: object
                properties:
                  icao:
                    type: string
                  sirena:
                    type: string
                  iata:
                    type: string
        transport_type:
          type: string
        stops:
          type: array
          items:
            $ref: '#/components/schemas/Stops'
        vehicle:
          type: string
        start_date:
          type: string
        transport_subtype:
          properties:
            color:
              type: string
            code:
              type: string
            title:
              type: string
        express_type:
          type: string
  
    Stops:
      type: object
      properties:
        arrival:
          type: string
        departure:
          type: string
        duration:
          type: integer
        stop_time:
          type: integer
        station:
          $ref: '#/components/schemas/StationForSchedule'
        terminal:
          type: string
        platform:
          type: string

    StationsList:
      type: object
      properties:
        countries:
          type: array
          items:
            type: object
            properties:
              title:
                type: string
              codes:
                type: object
                properties:
                  esr_code:
                    type: string
                  yandex_code:
                    type: string
              regions:
                type: array
                items:
                  $ref: '#/components/schemas/Regions'
  
    Regions:
      type: object
      properties:
        settlements:
          type: array
          items:
            type: object
            properties:
              title:
                type: string
              codes:
                type: object
                properties:
                  esr_code:
                    type: string
                  yandex_code:
                    type: string
              stations:
                type: array
                items:
                  type: object
                  properties:
                    direction:
                      type: string
                    codes:
                      type: object
                      properties:
                        esr_code:
                          type: string
                        yandex_code:
                          type: string
                    station_type:
                      type: string
                    title:
                      type: string
                    #longitude:
                      #type: number
                      #format: float
                    transport_type:
                      type: string
                    #latitude:
                      #type: number
                      #format: float
        codes:
          type: object
          properties:
            esr_code:
              type: string
            yandex_code:
              type: string
        title:
          type: string
